sql/
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VSCode ###
.vscode

### PROPERTIES FILE ###
src/main/resources/application.yml

### LOG FILES
*.log
*.gz
*.tmp

### ECLIPSE FILES ###
.metadata/

### CLIENT SIDE FILES ###
src/main/resources/static


.sts4-cache/classpath-data.json
mysql/
tmp/
bckp.*
mysql*
tmp*

# Spring Boot unpacked / runtime
BOOT-INF/

# Docker runtime leftovers
docker-compose.override.yml

# OS noise
.DS_Store
Thumbs.db

