# ==================================================
# LOCAL / LEGACY ONLY
# NOT USED by Docker TEST or PREPROD
# ==================================================


# config context path to "/" by setting an empty string
server:
  port: 8089 #Dont change port in local version pls
# mail properties

application:
  version: LOCAL

management.endpoint.health.show-details: always


# JACKSON
spring:
  jackson:
    time-zone:
      Europe/Madrid
    serialization:
      INDENT_OUTPUT: true
  datasource:
    ## MYSQL
    url: jdbc:mysql://db:3306/qcloud2?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: "qcloud2"
    password: "qcloud2017"
    driver-class-name: com.mysql.jdbc.Driver

  h2:
    console:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: MySQL57InnoDB
    show-sql: false
  flyway:
    enabled: true

  mail:
    default-encoding: UTF-8
    host:
    username:
    password:
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    protocol: smtp
    test-connection: false
  profiles:
    active:
    - production

jwt:
  header: Authorization
  secret: L+0P1i+38a26pHiW10iHqPBYAyklvqPdySy98BV9PPCZyDogMggoSZkYxULqCF+WG6Nimlfxd53H6zjdIUJNJA==


  expiration: 604800
  route:
    authentication:
      path: api/auth
      refresh: refresh
    authentication-pipeline:
      path: api/4uth
      refresh: refresh

qcloud:
  app-url: test.com # This is for some template links like the password reset one, this doesnt change the serve url
  admin-email: roger.olivella@crg.eu
  tip-refresh: 1800000 
  threshold:
    min-points-auto: 10
    min-points-manual: 20
    min-points-guideset: 3
    min-valid-context-source-points: 2
    # this is for the WARNING/DANGER plot
    files-auto-plot: 10
  threshold-nonconformity:
    page-size: 10
  instrument-status:
    max-offline-hours: 12
  email:
    address: your@mail.cat
  intranet:
    pipeline-valid-hours: 3
    api-url: https://api.qcloud2.crg.eu # This is the external api qcloud2. For local versions

twitter: # qcloud2 account keys
  consumer-key: 00IQt8nCuE8IQbHfXXXVRMQD
  consumer-secret: lQpzLAXXXXXeowQQA4xnsEUeUbrd9hYYvD97000UJJcX5
  access-token: 138224581184155XXXXXEnEKL6XJe09cT8rxxxcix
  access-token-secret: La4CXXXXCSU2LztACiyZvr5e333335n65Ky4G

logging:
  level:
    org.springframework:
      security: ERROR

    org.hibernate:
      # SQL: DEBUG
      # type: TRACE

---

spring.main.allow-bean-definition-overriding: true

