version: "3.9"

services:
  qcloud2-test:
    image: qcloud2:test
    build:
      context: .
      dockerfile: Dockerfile
    container_name: qcloud2-test
    restart: unless-stopped

    ports:
      - 127.0.0.1:8090:8089

    volumes:
      - ./application-test.yml:/config/application.yml:ro
      - ./tmp-test:/tmp

    environment:
      SPRING_PROFILES_ACTIVE: test
      SPRING_DATASOURCE_URL: jdbc:mysql://10.44.128.23:3306/qcloud2_test?useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: qcloud2
      SPRING_DATASOURCE_PASSWORD: qcloud2017

