<p>Hello</p>

<p>Before adding your instrument in the QCloud, when you have a QC1 and/or QC2 file, please send it to me and I will 
    check that the system is able to see all the monitored peptides. The QCloud is only able to monitorize a set of peptides from BSA and HeLa. 
    If you are using another kind of samples for the QC, I suggest you to inject only 1 BSA per day and 1 HeLa per week. 
    In this way you can still use your own QC samples and compare them with the QCloud.</p>

<p>Best,</p>
